<div class="text-center">
  <h2 class="mb-4" style="font-size:6vw"><strong>DASHBOARD</strong></h2>
  <button type="submit" class="btn btn-primary"><a href="/dashboard/new-post" > Create New Post</a></button>
</div>


{{#if posts.length}}
<section class = "your-post text-center">
  <h2>Your Posts</h2>
  <ul class="text-left">
    {{#each posts as |post|}}
    <li class="mb-3">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>