<section class = "your-new-post">
  <form class="new-post-form container border border-dark rounded card">
    <h2>Create New Post</h2>
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title"  class="form-control" rows="3" name="post-title" />
    </div>
    <div>
      <label for="post-blog">Blog Body</label>
      <textarea id="post-blog" name="post-blog" class="form-control" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Create Post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>