<form class="signup-form text-center border border-dark rounded card">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </div>
  <a href="/login" class="edit-link"> Login ?</a> 

</form>


<script src="/javascript/signin.js"></script>