<div class="single-post">
  {{> post-info post}}
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" class="form-control" rows="5"></textarea>
  </div>

  <div>
    <button type="submit" class ="btn btn-primary">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}