* {
    box-sizing: border-box;
}

:root {
    --primary-color: #134d16;
    --secondary-color: #499b5d;
    --navbar-color: #071f0d;
    --button-color-1: #225ca3;
    --button-color-1-hover: #3486eb;
    --font-color: #333;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: var(--secondary-color);
}

li {
    text-decoration: none;
}

::marker {
    text-decoration: none;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--button-color-1);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
}

.btn-no-style:hover {
    background: none;
    color: var(--button-color-1-hover);
}

.nav-bg {
    background-color: var(--navbar-color);
}


/* ============================== Post Section ============================================ */

.post {
    margin-bottom: 2%;
    line-height: 100%;
}

.post-list {
    margin: 30px;
    padding: 0;
}

.post-info {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.post-body {
    display: block;
}

.edit-post-h2 {
    margin: 0.5em auto 0.5em;
    padding: 15px;
}

.edit-post-h3 {
    margin: 1em auto 1em;
    padding: 5px;
}

.your-post {
    margin-top: 2rem;
}

.your-new-post {
    margin-top: 2rem;
}


/* ================================== Comments ====================================== */

textarea:focus {
    outline: none;
    border: 1px solid #3486eb;
}

.comments div h2 {
    color: var(--primary-color);
    border-bottom-style: groove;
    border-top-style: groove;
    margin: 1em auto 1em;
    padding: 15px;
}

.comment {
    border: 3px solid;
    margin: 15px;
    padding: 15px;
    width: 75%;
}

.comment-form {
    margin: 1em auto 1em;
}

input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

.post-comments {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.edit-post-form {
    margin-bottom: 5%;
}

.edit-link {
    display: block;
}